{
  "extends": "eslint:recommended",
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules":{
    "no-redeclare": 0,
    "no-console": 1,
    "no-unused-vars": 1,
    "no-useless-escape": 1
  },
  "env": {
    "browser": true,
    "jquery": true,
    "commonjs": true,
    "es6": true,
    "node": true
  }
}