@use './variables' as *;
@use 'sass:map';

@mixin hoverOpacity($op:0.8,$dur:0.2s){
  transition: opacity $dur ease-in-out;
  &:hover,
  &:focus{
    opacity: $op;
  }
}

// Bootstrapのメディアクエリ用ミックスインをリネーム
// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin media-up($mediaquery: sm) {
  @media not screen and (max-width: #{map.get($grid-breakpoints, $mediaquery)}) {
    @content;
  }
}
@mixin media-down($mediaquery: sm) {
  @media screen and (max-width: #{map.get($grid-breakpoints, $mediaquery)}) {
    @content;
  }
}