@use '../foundation/_forward' as *;
.rwd002-moduletitle {
  margin-top: map-get($spacers, 6);
  margin-bottom: map-get($spacers, 4);
  text-align: center;
  @include media-down(md) {
    margin-top: map-get($spacers, 4);
    margin-bottom: map-get($spacers, 4);
  }
  &__inner {
    padding-left: 1.6875rem;
    padding-right: 1.6875rem;
  }
}